<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h2>Example(s) of the Ember Material Design Datepicker in action</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <h3>American Date</h3>
      {{md-datepicker placeholder="Enter Date" selectedDate=selectedDate dateChanged=(action (mut selectedDate)) required=true}}
      <p>{{selectedDate}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <h3>UK Date</h3>
      {{md-datepicker placeholder="Enter UK Date" selectedDate=selectedDate2 dateFormat='DD/MM/YYYY' dateChanged=(action (mut selectedDate2)) required=true}}
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <h3>UK, no initial date, not required</h3>
      {{md-datepicker placeholder="Enter UK Date" selectedDate=selectedDate3 dateFormat='DD/MM/YYYY' dateChanged=(action (mut selectedDate3))}}
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <h3>UK, min and max supplied</h3>
      {{md-datepicker placeholder="Enter UK Date" selectedDate=selectedDate4 dateFormat='DD/MM/YYYY' dateChanged=(action (mut selectedDate4)) required=true
        minDate=minDate maxDate=maxDate}}
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <h3>UTC mode</h3>
      {{md-datepicker placeholder="Enter Date" selectedDate=selectedDateUtc dateChanged=(action (mut selectedDateUtc)) required=true utc=true}}
      <p>{{selectedDateUtc}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <h3>Disabled</h3>
      {{md-datepicker placeholder="Enter Date" selectedDate=selectedDate dateChanged=(action (mut selectedDate)) required=true disabled=true}}
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <h3>UK, no initial date, required</h3>
      {{md-datepicker placeholder="Enter UK Date" selectedDate=selectedDate6 dateFormat='DD/MM/YYYY' dateChanged=(action (mut selectedDate6)) required=true}}
    </div>
  </div>
</div>
